<!-- hero content -->
<section class="hero-content w-100" style="background-image: url('/hero-bg.jpg')">
  <div class="position-absolute bottom-0 start-0 end-0">
    <img src="hero-bg-shape-1.svg" class="img-fluid object-fit-cover w-100" alt="shape">
  </div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center height-calc-5 align-items-center">
        <div class="py-4">
          <div class="fs-1 text-white col-12 col-xxl-8 fw-bold">
            Brainstorming for Desired Usability
          </div>
          <div class="my-3 col-12 col-xxl-9 text-white fw-medium fw-medium lead">
            Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
          </div>
          <form class="mb-3 col-12 col-xxl-7">
            <div class="form-group">
              <div class="position-relative">
                <input type="text" name="keyword" class="form-control py-3 ps-4 shadow-none border-0 rounded-pill"
                       placeholder="Enter your email" required autocomplete="new-keyword">
                <div class="position-absolute top-50 end-0 translate-middle-y pe-2">
                  <button type="submit" class="btn btn-theme rounded-pill py-2 px-4">
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="width-45 height-45 rounded-circle btn btn-outline-light-theme p-0">
              <i class="bi bi-play-fill fs-4"></i>
            </button>
            <span class="text-white ms-3">
            Watch Video Overview
          </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 height-calc-5 d-none d-lg-flex justify-content-center align-items-center">
        <div class="col-lg-10">
          <img src="mobile.png" class="img-fluid object-fit-contain" alt="mobile">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why Peoples Love AppCo? -->
<section class="w-100 py-5 bg-white">
  <div class="container py-5">
    <div class="mb-3 text-center fw-bold fs-1">
      Why Peoples Love AppCo?
    </div>
    <div class="d-flex justify-content-center mb-4">
      <div class="col-12 col-lg-6 text-center text-secondary fw-medium lead">
        Following reasons show advantages of adding AppCo to your lead pages, demos and checkouts evisculate
        interoperable imperatives rather.
      </div>
    </div>
    <div class="row justify-content-around py-4">
      <div class="col-lg-4">
        <div class="px-4 py-5 shadow rounded-5 hover-box">
          <div class="py-3 d-flex justify-content-center">
            <div
              class="width-65 height-65 d-flex justify-content-center align-items-center linear-background text-white"
              style="border-radius: 38% 62% 24% 76% / 47% 40% 60% 53%;">
              <i class="bi bi-bezier fs-3"></i>
            </div>
          </div>
          <div class="fw-bold mb-3 fs-4 text-center">
            Clean Design
          </div>
          <div class="fw-medium text-secondary text-center lead">
            Increase sales by showing true dynamics of your website.
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-4 py-5 shadow rounded-5 hover-box">
          <div class="py-3 d-flex justify-content-center">
            <div
              class="width-65 height-65 d-flex justify-content-center align-items-center linear-background text-white"
              style="border-radius: 24% 76% 81% 19% / 71% 63% 37% 29%;">
              <i class="bi bi-shield-lock fs-3"></i>
            </div>
          </div>
          <div class="fw-bold mb-3 fs-4 text-center">
            Secure Data
          </div>
          <div class="fw-medium text-secondary text-center lead">
            Build your online store’s trust using Social Proof & Urgency.
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-4 py-5 shadow rounded-5 hover-box">
          <div class="py-3 d-flex justify-content-center">
            <div
              class="width-65 height-65 d-flex justify-content-center align-items-center linear-background text-white"
              style="border-radius: 24% 76% 28% 72% / 21% 41% 59% 79%;">
              <i class="bi bi-eye fs-3"></i>
            </div>
          </div>
          <div class="fw-bold mb-3 fs-4 text-center">
            Retina Ready
          </div>
          <div class="fw-medium text-secondary text-center lead">
            Realize importance of social proof in customer’s purchase decision.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Use Your Android or ios Device to Manage Everything -->
<section class="w-100 py-5 about-content" style="background-image: url('/about-bg-shape.svg')">
  <div class="container py-5">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6 py-5">
        <div class="fs-1 fw-bold mb-3">
          Use Your Android or ios Device
          to Manage Everything
        </div>
        <div class="mb-3 text-secondary d-flex justify-content-start align-items-center lead fw-medium">
          <div class="me-3">
            <div class="width-80 height-80 d-flex justify-content-center align-items-center shadow rounded-4 border">
              <i class="bi bi-balloon-heart-fill fs-4 text-theme"></i>
            </div>
          </div>
          Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify
          visionary technology.
        </div>
        <div class="mb-3 text-secondary d-flex justify-content-start align-items-center lead fw-medium">
          <div class="me-3">
            <div class="width-80 height-80 d-flex justify-content-center align-items-center shadow rounded-4 border">
              <i class="bi bi-router-fill fs-4 text-theme"></i>
            </div>
          </div>
          Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify
          visionary technology.
        </div>
        <div class="mb-3 text-secondary d-flex justify-content-start align-items-center lead fw-medium">
          <div class="me-3">
            <div class="width-80 height-80 d-flex justify-content-center align-items-center shadow rounded-4 border">
              <i class="bi bi-pci-card-network fs-4 text-theme"></i>
            </div>
          </div>
          Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify
          visionary technology.
        </div>
        <div class="mb-3 text-secondary d-flex justify-content-start align-items-center lead fw-medium">
          <div class="me-3">
            <div class="width-80 height-80 d-flex justify-content-center align-items-center shadow rounded-4 border">
              <i class="bi bi-chat-left-heart-fill fs-4 text-theme"></i>
            </div>
          </div>
          Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify
          visionary technology.
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center py-5">
        <div class="col-7">
          <img src="mobile-scase.png" class="img-fluid" alt="mobile-scase">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Share your Photos with Friends Easily -->
<section class="w-100 py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5 d-flex justify-content-center py-5">
        <div class="col-8">
          <img src="mobile-curve.png" class="img-fluid object-fit-cover" alt="mobile-curve">
        </div>
      </div>
      <div class="col-lg-7 py-5">
        <div class="mb-3 fs-1 fw-bold">
          Share your Photos with
          Friends Easily
        </div>
        <div class="text-secondary lead fw-medium">
          Objectively deliver professional value with diverse web-readiness. Collaboratively transition wireless
          customer service without goal-oriented catalysts for change. Collaboratively.
          <br><br>
          Uniquely simplify sustainable applications whereas adaptive schemas. Competently brand performance based
          content and.
        </div>
        <div class="d-flex justify-content-start align-items-center mt-4 gap-3">

          <div
            class="rounded-3 width-65 height-65 d-flex justify-content-center align-items-center shadow text-theme border">
            <i class="bi bi-balloon-heart-fill fs-4"></i>
          </div>

          <div
            class="rounded-3 width-65 height-65 d-flex justify-content-center align-items-center shadow text-theme border">
            <i class="bi bi-router-fill fs-4"></i>
          </div>

          <div
            class="rounded-3 width-65 height-65 d-flex justify-content-center align-items-center shadow text-theme border">
            <i class="bi bi-pci-card-network fs-4"></i>
          </div>

          <div
            class="rounded-3 width-65 height-65 d-flex justify-content-center align-items-center shadow text-theme border">
            <i class="bi bi-chat-left-heart-fill fs-4"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Managing your Apps Business, more Faster -->
<section class="hero-content w-100" style="background-image: url('/hero-bg.jpg')">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-lg-6 py-5">
        <div class="fs-1 fw-bold text-white mb-3">
          Start Managing your Apps Business, more Faster
        </div>
        <div class="text-white mb-4 lead fw-medium">
          Objectively deliver professional value with diverse web-readiness. Collaboratively transition wireless
          customer service without goal-oriented catalysts for change. Collaboratively.
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <button type="button" class="btn btn-theme py-2 px-4 rounded-pill">
            <i class="bi bi-android"></i>
            <span class="ms-2">
              Google Play
            </span>
          </button>
          <button type="button" class="btn btn-outline-light-theme py-2 px-4 rounded-pill">
            <i class="bi bi-apple"></i>
            <span class="ms-2">
              App Store
            </span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 pt-5">
        <img src="app-hand-top.png" class="img-fluid" alt="app-hand-top">
      </div>
    </div>
  </div>
</section>

<!-- Affordable Pricing and Packages Choose your Best One -->
<section class="w-100 py-5 pricing-and-package" style="background-image: url('shape-bg-right.svg')">
  <div class="container py-5">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
      <div class="mb-4 col-md-7 fs-1 fw-bold">
        Affordable Pricing and Packages
        Choose your Best One
      </div>
      <div class="mb-5 text-secondary col-md-7 fw-medium lead">
        Distinctively brand cutting-edge imperatives through synergistic infrastructures customize low-risk high-yield
        processes rather than user friendly.
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 py-4">
        <div class="px-4 py-5 bg-white shadow rounded-4 hover-box">
          <div class="mb-4 fw-bold fs-4 text-center">
            Basic
          </div>
          <div class="d-flex justify-content-center">
            <img src="basic.svg" class="width-65 height-65" alt="basic.svg">
          </div>
          <div class="mt-4 text-center fw-bold text-theme">
            <sup class="fs-4">$</sup> <span class="fs-1 mx-2">29</span> <sub class="fs-6">/monthly</sub>
          </div>
          <div class="text-secondary mt-4">
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 5 Users access same time </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Integrated eCommerce </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Customization interface </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Weekly updated </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 24/7 Phone Support </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Event Analytics </span>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-outline-theme px-4 py-2 rounded-pill">
              Purchase Now
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 py-4">
        <div class="px-4 py-5 bg-white shadow rounded-4 hover-box">
          <div class="mb-4 fw-bold fs-4 text-center">
            Standard
          </div>
          <div class="d-flex justify-content-center">
            <img src="standard.svg" class="width-65 height-65" alt="basic.svg">
          </div>
          <div class="mt-4 text-center fw-bold text-theme">
            <sup class="fs-4">$</sup> <span class="fs-1 mx-2">145</span> <sub class="fs-6">/monthly</sub>
          </div>
          <div class="text-secondary mt-4">
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 10 Users access same time </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Integrated eCommerce </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Customization interface </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Daily updated </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 24/7 Phone Support </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Event Analytics </span>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-theme px-4 py-2 rounded-pill">
              Purchase Now
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 py-4">
        <div class="px-4 py-5 bg-white shadow rounded-4 hover-box">
          <div class="mb-4 fw-bold fs-4 text-center">
            Unlimited
          </div>
          <div class="d-flex justify-content-center">
            <img src="unlimited.svg" class="width-65 height-65" alt="basic.svg">
          </div>
          <div class="mt-4 text-center fw-bold text-theme">
            <sup class="fs-4">$</sup> <span class="fs-1 mx-2">249</span> <sub class="fs-6">/monthly</sub>
          </div>
          <div class="text-secondary mt-4">
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 20 Users access same time </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Integrated eCommerce </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Fully Customization interface </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Free updated </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> 24/7 Phone Support </span>
            </div>
            <div class="mb-3">
              <i class="bi bi-check-lg"></i>
              <span class="ms-2"> Event Analytics </span>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-outline-theme px-4 py-2 rounded-pill">
              Purchase Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5 text-center">
      If you need custom services or Need more?
      <a href="javascript:void(0)" class="text-decoration-none text-theme">
        Contact us
      </a>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="row">
        <div class="col-lg-6">
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Which license do I need?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Uniquely leverage other's distinctive infomediaries rather than leveraged supply chains. Continually
                seize distributed collaboration and idea-sharing whereas user.
              </div>
            </div>
          </div>
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How do I get access to a theme?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Rapidiously incentivize virtual e-commerce and exceptional e-tailers. Progressively network focused
                catalysts for change without orthogonal benefits. Dramatically empower.
              </div>
            </div>
          </div>
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I see previous orders?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Proactively monetize long-term high-impact innovation and scalable relationships. Dynamically mesh
                principle-centered functionalities before next-generation best practices. Distinctively empower.
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Which license do I need?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Uniquely leverage other's distinctive infomediaries rather than leveraged supply chains. Continually
                seize distributed collaboration and idea-sharing whereas user.
              </div>
            </div>
          </div>
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How do I get access to a theme?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Rapidiously incentivize virtual e-commerce and exceptional e-tailers. Progressively network focused
                catalysts for change without orthogonal benefits. Dramatically empower.
              </div>
            </div>
          </div>
          <div class="accordion-item border rounded-3 mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                How do I see previous orders?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Proactively monetize long-term high-impact innovation and scalable relationships. Dynamically mesh
                principle-centered functionalities before next-generation best practices. Distinctively empower.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What Clients Say About Us -->
<section class="w-100 py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="fs-1 fw-bold mb-4">
          What Clients Say About Us
        </div>
        <div class="text-secondary mb-4 fw-medium lead">
          Rapidiously morph transparent internal or "organic" sources whereas resource sucking e-business. Conveniently
          innovate compelling internal.
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <a href="javascript:void(0)">
            <img src="client-app-1.png" class="img-fluid width-95 hover-box" alt="client-app-1">
          </a>
          <a href="javascript:void(0)">
            <img src="client-app-2.png" class="img-fluid width-95 hover-box" alt="client-app-2">
          </a>
          <a href="javascript:void(0)">
            <img src="client-app-3.png" class="img-fluid width-95 hover-box" alt="client-app-3">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4 d-flex justify-content-start align-items-center">
          <div class="me-3">
            <img src="client-review.jpg" class="img-fluid object-fit-cover rounded-circle width-65 height-65"
                 alt="client-review.jpg">
          </div>
          <div class="d-block">
            <div class="fw-bold"> Arabella Ora</div>
            <div class="text-secondary"> Amazon</div>
          </div>
        </div>
        <div class="text-secondary line-height-2 lead fw-medium">
          <img src="quote.png" class="width-25 height-25 me-2" alt="quote.png">
          Rapidiously develop user friendly growth strategies after extensive initiatives. Conveniently grow innovative
          benefits through fully tested deliverables. Rapidiously utilize focused platforms through end-to-end schemas.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- explore view -->
<section class="w-100 py-5 hero-content fix-content" style="background-image: url('explore-view.jpg')">
  <div class="container position-relative">
    <div class="d-flex justify-content-center align-items-center height-400 flex-column">
      <div class="mb-5">
        <a href="javascript:void(0)" class="text-decoration-none text-theme">
          <div class="loader">
            <i class="bi bi-play fs-1"></i>
          </div>
        </a>
      </div>
      <div class="text-white fw-bold text-white">
        Watch video overview
      </div>
    </div>
  </div>
</section>

<!-- Our Team Members -->
<section class="w-100 py-5 bg-light">
  <div class="container py-5">
    <div class="fs-1 text-center fw-bold mb-3">
      Our Team Members
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-lg-7 text-center fw-medium lead">
        Following reasons show advantages of adding AppCo to your lead pages, foster market positioning products without
        demos and checkouts.
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      <div class="p-1 mt-4">
        <div class="position-relative overflow-hidden team rounded-circle">
          <img src="team-1.jpg" class="width-300 height-300 rounded-circle object-fit-cover img-fluid" alt="team 1">
          <div class="position-absolute team-hover d-flex justify-content-center align-items-center">
            <div class="text-glitch text-center">
              <div class="fs-5 fw-bold text-white mb-2"> Edna Mason</div>
              <div class="fs-6 fw-medium text-white"> Senior Designer</div>
              <div class="mt-4 d-flex justify-content-center align-items-center gap-2">
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-github"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 mt-4">
        <div class="position-relative overflow-hidden team rounded-circle">
          <img src="team-2.jpg" class="width-300 height-300 rounded-circle object-fit-cover img-fluid" alt="team 2">
          <div class="position-absolute team-hover d-flex justify-content-center align-items-center">
            <div class="text-glitch text-center">
              <div class="fs-5 fw-bold text-white mb-2"> Edna Mason</div>
              <div class="fs-6 fw-medium text-white"> Senior Designer</div>
              <div class="mt-4 d-flex justify-content-center align-items-center gap-2">
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-github"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 mt-4">
        <div class="position-relative overflow-hidden team rounded-circle">
          <img src="team-3.jpg" class="width-300 height-300 rounded-circle object-fit-cover img-fluid" alt="team 3">
          <div class="position-absolute team-hover d-flex justify-content-center align-items-center">
            <div class="text-glitch text-center">
              <div class="fs-5 fw-bold text-white mb-2"> Edna Mason</div>
              <div class="fs-6 fw-medium text-white"> Senior Designer</div>
              <div class="mt-4 d-flex justify-content-center align-items-center gap-2">
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-github"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 mt-4">
        <div class="position-relative overflow-hidden team rounded-circle">
          <img src="team-4.jpg" class="width-300 height-300 rounded-circle object-fit-cover img-fluid" alt="team 4">
          <div class="position-absolute team-hover d-flex justify-content-center align-items-center">
            <div class="text-glitch text-center">
              <div class="fs-5 fw-bold text-white mb-2"> Edna Mason</div>
              <div class="fs-6 fw-medium text-white"> Senior Designer</div>
              <div class="mt-4 d-flex justify-content-center align-items-center gap-2">
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-github"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-white">
                  <i class="bi bi-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- latest news -->
<section class="w-100 py-5">
  <div class="container py-5">
    <div class="mb-4 fs-1 fw-bold">
      Our Latest News
    </div>
    <div class="text-secondary fw-medium mb-4 lead col-lg-7">
      Enthusiastically drive revolutionary opportunities before emerging leadership. Distinctively transform tactical
      methods of resource sucking core.
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
      <div class="p-2">
        <div class="shadow rounded-3 overflow-hidden">
          <div class="position-relative">
            <img src="blog-1.jpg" class="img-fluid object-fit-cover" alt="blog-1">
            <div class="position-absolute top-0 end-0 p-3">
              <div class="badge bg-primary text-white">
                Lifestyle
              </div>
            </div>
          </div>
          <div class="small text-secondary d-flex justify-content-start align-items-center p-3 gap-3">
            <span>Jan 21, 2019</span>
            <span>45 Comments</span>
            <span>10 Share</span>
          </div>
          <div class="px-3 pb-3">
            <div class="fs-5 fw-medium truncate-to-1-line">
              Appropriately productize fully
            </div>
          </div>
          <div class="px-3 pb-3">
            <div class="fw-medium truncate-to-2-line text-secondary">
              Some quick example text to build on the card title and make up the bulk.
            </div>
          </div>
          <div class="px-3 pb-3">
            <a href="javascript:void(0)" class="text-decoration-none text-hover">
              Read more <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="shadow rounded-3 overflow-hidden">
          <div class="position-relative">
            <img src="blog-2.jpg" class="img-fluid object-fit-cover" alt="blog-2">
            <div class="position-absolute top-0 end-0 p-3">
              <div class="badge bg-danger text-white">
                Technology
              </div>
            </div>
          </div>
          <div class="small text-secondary d-flex justify-content-start align-items-center p-3 gap-3">
            <span>May 26, 2019</span>
            <span>30 Comments</span>
            <span>5 Share</span>
          </div>
          <div class="px-3 pb-3">
            <div class="fs-5 fw-medium truncate-to-1-line">
              Quickly formulate backend
            </div>
          </div>
          <div class="px-3 pb-3">
            <div class="fw-medium truncate-to-2-line text-secondary">
              Synergistically engage effective ROI after customer directed partnerships.
            </div>
          </div>
          <div class="px-3 pb-3">
            <a href="javascript:void(0)" class="text-decoration-none text-hover">
              Read more <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="shadow rounded-3 overflow-hidden">
          <div class="position-relative">
            <img src="blog-3.jpg" class="img-fluid object-fit-cover" alt="blog-3">
            <div class="position-absolute top-0 end-0 p-3">
              <div class="badge bg-info text-white">
                Science
              </div>
            </div>
          </div>
          <div class="small text-secondary d-flex justify-content-start align-items-center p-3 gap-3">
            <span>Apr 25, 2019</span>
            <span>41 Comments</span>
            <span>30 Share</span>
          </div>
          <div class="px-3 pb-3">
            <div class="fs-5 fw-medium truncate-to-1-line">
              Objectively extend extensive
            </div>
          </div>
          <div class="px-3 pb-3">
            <div class="fw-medium truncate-to-2-line text-secondary">
              Holisticly mesh open-source leadership rather than proactive users.
            </div>
          </div>
          <div class="px-3 pb-3">
            <a href="javascript:void(0)" class="text-decoration-none text-hover">
              Read more <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact us -->
<section class="w-100 py-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5">
        <div class="fs-1 fw-bold mb-3">
          Contact With Us
        </div>
        <div class="text-secondary fw-medium mb-3">
          It's very easy to get in touch with us. Just use the contact form or pay us a visit for a coffee at the
          office. Dynamically innovate competitive technology after an expanded array of leadership.
          <br><br>
          Head Office <br>
          121 King St, Melbourne VIC 3000, Australia
          <br><br>
          Phone: +61 2 8376 6284 <br>
          Email : <a href="mailto:{{email}}" class="text-decoration-none text-theme"> {{email}} </a>
        </div>
      </div>
      <div class="col-lg-7">
        <form class="row">
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <input type="text" name="name" class="form-control p-3 rounded-3 shadow-none border"
                     placeholder="Enter name" required autocomplete="new-name">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <input type="email" name="email" class="form-control p-3 rounded-3 shadow-none border"
                     placeholder="Enter email" required autocomplete="new-email">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <input type="text" name="phone" class="form-control p-3 rounded-3 shadow-none border"
                     placeholder="Your phone" required autocomplete="new-phone">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <input type="text" name="company" class="form-control p-3 rounded-3 shadow-none border"
                     placeholder="Your company" required autocomplete="new-company">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <textarea name="message" id="message" class="w-100 h-auto form-textarea border rounded-3 p-3 shadow-none"
                        cols="30" rows="5" placeholder="Message" required autocomplete="new-message"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn btn-outline-dark py-3 px-5 rounded-3">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Trusted by Companies -->
<section class="w-100 py-5">
  <div class="container py-5">
    <div class="mb-4 fs-1 fw-bold">
      Trusted by Companies
    </div>
    <div class="lead text-secondary mb-4 fw-medium col-lg-7 mb-5">
      Rapidiously morph transparent internal or "organic" sources whereas resource sucking e-business. Conveniently
      innovate compelling internal.
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <div class="p-3 mb-4">
        <img src="/company-logo/client-1-color.png" class="img-fluid width-120" alt="company logo 1">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-2-color.png" class="img-fluid width-120" alt="company logo 2">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-3-color.png" class="img-fluid width-120" alt="company logo 3">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-4-color.png" class="img-fluid width-120" alt="company logo 4">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-5-color.png" class="img-fluid width-120" alt="company logo 5">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-6-color.png" class="img-fluid width-120" alt="company logo 6">
      </div>
      <div class="p-3 mb-4">
        <img src="/company-logo/client-7-color.png" class="img-fluid width-120" alt="company logo 7">
      </div>
    </div>
  </div>
</section>
