.navbar {
  transition: 0.3s all ease-in-out !important;
  font-size: 18px !important;

  @media screen and (max-width: 991px) {
    background-image: var(--linear-gradient);
  }


  &.scroll-background {
    transition: 0.3s all ease-in-out !important;
    background-image: var(--linear-gradient);
  }

}
